.sidebar {
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
  z-index: 999;
  /* position: fixed; */
  background-color: #343a40;
  margin-left: -250px;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.735, 0.045);
  box-shadow: 6px 0 4px rgba(26, 25, 25, 0.1);
}

.is-open {
  margin-left: 0px;
}
