.landing-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../../img/landingpage-background.jpg");
  background-size: cover;
  background-color: grey;
  position: absolute;
  top: 0;
}

.layer {
  background-color: rgba(00, 00, 00, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  z-index: 99;
  height: inherit;
}

.content h1,
h2,
h3,
h4 {
  z-index: 99;
}

.logo {
  height: 200px;
  width: 200px;
  /* fill: #343a40; */
  fill: #157ffb;
}
