body {
  /* background-color: #f3f6fa; */
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-lane {
  flex-grow: 1;
  min-width: 240px;
  height: 100vh;
  background-color: #171d3e;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.middle-lane {
  flex-grow: 2;
  height: 100vh;
  min-width: 600px;
  /* background-color: yellow; */
  margin: 0;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: flex-end;
  align-items: center;
}

/* Group Selector */

.group-selector {
  margin: 20px 0 0 40px;
  color: white;
}

.group-selector h4 {
  color: #8489a2;
}

.group-selector ul {
  list-style-type: none;
}

.group-selector li {
  color: #8489a2;
}

.group-selector li::before {
  content: "\2022";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.group-selector li:hover {
  cursor: pointer;
}

.group-selector_li--selected {
  color: white !important;
}

.group-selector_li--selected::before {
  content: "\2022";
  color: red !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Input Bar */
.input-bar {
  padding: 0;
  width: 400px;
  background-color: #1e1e1d;
  border-radius: 10px;
  margin: 20px 0px 60px 0;
  border: none;
}

.input-bar input {
  /* background-color: #1e1e1d; */
  background-color: #171d3e;
  border: none;
  border-radius: 10px;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.input-bar input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-bar input:focus {
  outline: none;
  caret-color: rgba(100, 243, 4, 0.767);
}

.input-bar button {
  height: 50px;
  width: 80px;
  color: #171d3e;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0;
  transform: scale(1.02);
  box-shadow: 6px 0 4px rgba(26, 25, 25, 0.1);
  /* background-color: rgba(230, 4, 218, 0.596); */
}

.input-bar button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.input-bar button:active {
  transform: scale(1.02);
}

.status-toggle {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
}

.status-toggle button {
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  transition-timing-function: ease-in-out;
  font-size: medium;
}

.status-toggle button:not(:first-child):not(:last-child) {
  margin: 0 8px;
}

.status-toggle button:hover {
  transform: scale(1.1);
  background-color: #0f235b;
  color: white;
  font-size: large;
  cursor: pointer;
}

.status-toggle button:focus {
  outline: none;
}

.status-toggle button:active {
  transform: scale(1.02);
  transition-delay: 0;
}

.status-toggle_button--selected {
  box-shadow: 6px 4px 10px 4px rgba(94, 87, 89, 0.1);
  background-color: #0f235b;
  color: white;
}

/* TodoList */

.todo-list {
  min-width: 20px;
  width: 400px;
  max-width: 400px;
  /* box-shadow: 6px 4px 10px 4px rgba(94, 87, 89, 0.1); */
}

.todo-list ul {
  border-radius: 10px;
  background-color: #f5f7f9;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 6px 4px 10px 4px rgba(26, 25, 25, 0.1);
}

.todo-list li {
  /* background-color: #efdfe2; */
  background-color: #f5f7f9;
  border-radius: 18px;
  margin-bottom: 8px;
  padding: 14px 10px 14px 40px;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}

.todo-list li:hover {
  transform: scale(1.2);
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  box-shadow: 6px 4px 10px 4px rgba(94, 87, 89, 0.1);
}

.todo-list_li--incomplete {
  background: url("./img/todolist_item--incomplete.svg") 10px center no-repeat;
  background-size: 24px;
  font-weight: bold;
}

.todo-list_li--completed {
  background: url("./img/todolist_item--completed.svg") 10px center no-repeat;
  background-size: 24px;
  text-decoration: line-through;
  /* color: rgba(0, 0, 0, 0.5); */
  opacity: 0.5;
}
